@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply min-h-screen font-serif overflow-x-hidden;
  }
  h1 {
    @apply font-serif text-5xl font-black;
  }
  h2 {
    @apply mb-8 mt-12 font-serif text-3xl font-black;
  }
  h3 {
    @apply mb-4 mt-8 font-serif text-2xl font-black;
  }
  a {
    @apply shadow-none;
  }
  p {
    @apply mb-8;
  }
  li {
    @apply mb-4;
  }
}

:root {
  --color-bg-accent: #63b3ed;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-bg-accent-hover: #4299e1;

  --color-text-accent: #2b6cb0;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-tertiary: #4a5568;
  --color-text-on-accent: #f7fafc;

  --color-fill-primary: #b1d9f6;
  --color-fill-secondary: #edf2f7;

  --color-gradient-accent1: rgba(49, 130, 206, 1);
  --color-gradient-accent2: rgba(79, 209, 197, 1);

  --color-code-background: #edf2f7;
  --color-code-text: #2d3748;
  --color-code-comment: #718096;
  --color-code-punctuation: #39adb5;
  --color-code-const: #7c4dff;
  --color-code-bool: #7c4dff;
  --color-code-string: #f6a434;
  --color-code-var: #e53935;
  --color-code-func: #3d5afe;
  --color-code-keyword: #7c4dff;
  --color-code-regex: #6182b8;
}
